svg {
  vertical-align: baseline;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 155, 155);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-select-selection-placeholder {
  color: rgb(161, 161, 161);
}

.ant-select-selection {
  background-color: red;
}
